{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>Dropsonde track images</h1>
        <p>
        This page show the tracks of many of the dropsondes deployed during the <a href="http://eurec4a.eu">EUREC<sup>4</sup>A</a> field campaign.
        Please use the links above to select which parameter should be displayed in which order.
        </p>
        <p>
        The data is extracted from the <a href="https://github.com/Geet-George/JOANNE">JOANNE</a> dataset.
        </p>
        <p>
        If you find any issues or have suggestions please <a href="https://gitlab.gwdg.de/eurec4a_staging/sondeimages/-/issues/new">create an issue</a>. If you like to see how this page is built, please have a look at the <a href="https://gitlab.gwdg.de/eurec4a_staging/sondeimages">source code</a>.
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
      <video class="mx-auto d-block" loop autoplay>
        <source src="images/soundings_rh.webm" type="video/webm">
        <source src="images/soundings_rh.mp4" type="video/mp4">
      </video>
    </div>
</div>
{% endblock %}
